html, body {
  background-color: #333;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: none;
  color: antiquewhite;
}
div {
  padding: 1rem;
  border: 1px solid antiquewhite;
}